<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<th:block layout:fragment="javascript">
    <script>
        const hello = () => {
            axios.get("/hello")
                .then(function (response) {
                    document.getElementById("message").outerHTML = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
        const world = () => {
            axios.get("/world")
                .then(function (response) {
                    document.getElementById("message").outerHTML = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</th:block>
<body>
<main layout:fragment="content">
    <br>
    <button onclick="hello()">Hello</button>
    <button onclick="world()">World</button>
    <p id="message">Hello World</p>
</main>
</body>
</html>